
@model Product
@{
    Layout = "_Layout";
}

<form action="/Home/Create" method="post">
    <input type="text" asp-for="ProductName" value="" placeholder="Ürün adı" />
    <span asp-validation-for="ProductName"></span>
    <input type="text" asp-for="Price" value="" placeholder="Fiyatı" />
    <span asp-validation-for="Price"></span>
    <button type="submit">Ekle</button>
</form>


